#postContent {
  @apply flex flex-col gap-4;

  a {
    @apply underline;
  }

  a:visited {
    color: var(--pantone-ultra-violet);
  }

  p {
    @apply leading-relaxed md:leading-normal;
  }

  pre {
    @apply self-center text-base;
    max-width: calc(100vw - 3rem);

    code {
      @apply rounded-lg;
      @apply overflow-x-scroll;
    }
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-2xl;
  }

  h6 {
    @apply text-2xl;
  }

  ul {
    @apply list-inside list-disc;
  }
  ol {
    @apply list-inside list-decimal;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-thin my-2 first:mt-0;
  }

  blockquote {
    @apply border-l-8 border-gray-300 pl-4 py-2 my-4 mr-4 italic;
    p {
      @apply last:mb-0;
    }
  }

  table {
    @apply border-y border-black w-max;
    td,
    th {
      @apply px-2;
    }
    tbody {
      tr {
        @apply odd:bg-gray-200;
      }
    }
  }
}
