:root {
  --default-font-size: 18px;

  --pantone-ultimate-gray: #939597;
  --pantone-cloud-dancer: #f0eee9;
  --pantone-pms-448: #474026;
  --pantone-moondrop-grapes: #1c1619;
  --post-it-color: #fffaeb;

  --viewport-extra-small: 576px;
  --viewport-small: 576px;
  --viewport-medium: 768px;
  --viewport-large: 992px;
  --viewport-extra-large: 1200px;
  --viewport-extra-extra-large: 1400px;

  --background-color: white;
  --foreground-color: black;
  --border-color: var(--pantone-moondrop-grapes);
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: var(--default-font-size);
  font-weight: 400;
  color: var(--foreground-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0;
}

h1 {
  font-size: 2.2em;
  font-weight: 200;
}

h2 {
  font-size: 2em;
  font-weight: 200;
}

h3 {
  font-size: 1.8em;
  font-weight: 200;
}

h4 {
  font-size: 1.6em;
  font-weight: 200;
}

h5 {
  font-size: 1.4em;
  font-weight: 200;
}

h6 {
  font-size: 1.2em;
  font-weight: 400;
}

p {
  font-size: 1em;
}

.main-container {
  background-color: var(--background-color);
  max-width: 1200px;
}

section,
header {
  padding: 10px 10px;
}

header {
  display: grid;
  color: white;
  grid-template: "nome foto" auto / 1fr 1fr;
  background-color: black;
}

header .portrait {
  display: flex;
  justify-content: center;
}
header .portrait img {
  height: 150px;
  border-radius: 50%;
}

header .name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .name p {
  margin: 0 0 10px 0;
}

header .name h1 {
  margin: 0 0 10px 0;
}

section > .title {
  letter-spacing: 5px;
  margin: 0 0 10px 0;
  text-transform: uppercase;
}

section.bio {
  display: flex;
  justify-content: center;
}

section.bio p {
  line-height: 1.3em;
  max-width: 700px;
  text-align: center;
}

section.social {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
  width: 100%;
}

section.social img {
  height: 30px;
}

section.notes .content {
  display: flex;
  flex-wrap: wrap;
}

.note-summary {
  background-color: var(--post-it-color);
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  max-width: 280px;
  max-height: 230px;
  padding: 10px;
  overflow: hidden;
}

.note-summary .title {
  margin: 0 0 5px 0;
}

.note-summary span.category {
  font-size: 0.6em;
  margin: 0 0 10px 0;
}

.note-summary .text {
  font-size: 0.8em;
  margin: 0 0 10px 0;
}
