.mainContainer {
  background-color: var(--background-color);
  max-width: 1200px;
}

header#header {
  color: white;
  background-color: black;

  display: flex;
  flex-direction: row;
  align-items: baseline;

  p {
    margin: 0 4px 10px 0;
  }

  h1 {
    margin: 0 0 10px 0;
  }
}

.bioContainer {
  align-items: center;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;

  p:first-of-type {
    font-weight: 200;
    font-size: 1.5em;
  }
  p {
    line-height: 1.3em;
    max-width: 700px;
    text-align: center;
  }

  .portrait {
    background: linear-gradient(315deg, #7b1a1a 50%, #fffaeb 50%);
    border-radius: 50%;
    display: flex;
    height: 150px;
    overflow: hidden;
    justify-content: end;
    width: 150px;

    img {
      border-end-start-radius: 7%;
      height: 200px;
      transform: scaleX(-1) translateX(-2px) translateY(3px);
    }
  }
}

.socialContainer {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  width: 100%;

  img {
    height: 30px;
  }
}

.notesContainer {
  display: flex;
  flex-wrap: wrap;
}

.noteSummary {
  background-color: var(--post-it-color);
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  max-width: 280px;
  max-height: 230px;
  padding: 10px;
  overflow: hidden;

  .title {
    margin: 0 0 5px 0;
  }

  span.category {
    font-size: 0.6em;
    margin: 0 0 var(--margin-default) 0;
  }

  .text {
    font-size: 0.8em;
    margin: 0 0 10px 0;
  }
}
