@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pantone-ultimate-gray: #939597;
  --pantone-cloud-dancer: #f0eee9;
  --pantone-pms-448: #474026;
  --pantone-moondrop-grapes: #1c1619;
  --pantone-viva-magenta: #bb2649;
  --pantone-ultra-violet: #5f4b8b;
  --post-it-color: #fffaeb;

  --background-color: white;
  --foreground-color: black;
  --border-color: var(--pantone-moondrop-grapes);
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

@layer components {
  a:visited.visited {
    color: var(--pantone-ultra-violet);
  }
}
